* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

#root {
  width: 100%;
  min-height: 100vh;
}

button {
  font-family: inherit;
}

/* Japanese font classes */
.noto {
  font-family: 'Noto Sans JP', sans-serif;
}

.maru {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.mincho {
  font-family: 'Shippori Mincho', serif;
}

.kosugi {
  font-family: 'Kosugi Maru', sans-serif;
}

.rounded {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.yusei {
  font-family: 'Yusei Magic', sans-serif;
}

.klee {
  font-family: 'Klee One', cursive;
}

.hachi {
  font-family: 'Hachi Maru Pop', cursive;
}
